.header-navbar {
    top: 0;
    z-index: 10;
    width: 100%;
    position: absolute;
    background-color: $white-color;

    .navbar {
        background-color: $white-color;

        .navbar-menus {
            display: flex;
            align-items: center;
            width: 80%;

            .m-brand-logo {
                width: 160px;
                margin: 0 auto;
                margin-bottom: 30px;
                display: none;
            }
        }

        .navbar-brand {
            margin-right: 40px;
        }

        .navbar-nav {
            .nav-item {
                margin-right: 45px;

                .nav-link {
                    position: relative;
                    color: $title-color;
                    font-weight: 700;

                    &.hover::after {
                        content: "";
                        position: absolute;
                        left: 35px;
                        bottom: 0px;
                        width: 0px;
                        height: 5px;
                        border-radius: 100%;
                        background-color: $secondary-color;
                        transition: 0.3s all ease-in-out;
                        overflow: hidden;
                    }

                    &.hover:hover::after {
                        width: 6px;
                    }
                }

                &.has-children {
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        left: 9px;
                        top: 36px;
                        width: 0px;
                        height: 5px;
                        border-radius: 28%;
                        background-color: $secondary-color;
                        transition: 0.3s all linear;
                    }

                    &:hover::before {
                        width: 23px;
                    }

                    &:after {
                        content: '+';
                        top: 6px;
                        color: $red-color;
                        right: -6px;
                        font-size: 18px;
                        font-weight: 700;
                        position: absolute;
                        transition: 0.3s all ease-in-out;
                    }

                    .nav-submenu {
                        top: 65px;
                        left: 0;
                        opacity: 0;
                        z-index: 2;
                        margin: 0px;
                        padding: 0px;
                        height: auto;
                        width: 200px;
                        border: none;
                        display: block;
                        border-radius: 0;
                        overflow: hidden;
                        visibility: hidden;
                        position: absolute;
                        background-color: $white-color;
                        transition: all 0.4s ease-in-out;
                        border-bottom: 2px solid $secondary-color;
                        box-shadow: 0 5px 10px 0 rgba(83, 82, 82, .1);

                        li {
                            position: relative;
                            width: 100%;
                            margin-left: 0;
                            border-bottom: 1px solid #e5e5e5;
                            list-style: none;
                            display: inline-block;

                            a {
                                width: 100%;
                                color: #343434;
                                display: block;
                                font-size: 14px;
                                padding: 10px 25px;
                                position: relative;
                                transition: 0.3s all ease-in-out;
                                font-weight: 700;
                            }

                            &:hover a {
                                color: $white-color;
                                background-color: $secondary-color;
                            }

                        }

                    }

                    &:hover .nav-submenu {
                        top: 48px;
                        opacity: 1;
                        visibility: visible;
                    }
                }

                &.plus {
                    &::after {
                        content: '' !important;
                    }
                }
            }
        }

        .nav-actions {
            position: relative;
            display: flex;
            align-items: center;
            list-style-type: none;
            margin-bottom: 0px;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: 31px;
                bottom: 0;
                width: 2px;
                height: 18px;
                transform: translateY(-56%);
                background-color: #d9d9d9;
            }

            li:hover {
                color: $secondary-color;
            }

            .shopping-cart {
                button {
                    border: none;
                    outline: none;
                    background-color: transparent;
                    margin: 0px 30px;

                    i {
                        font-size: 20px;
                        color: $primary-color;
                        transition: all .4s linear;

                        &:hover {
                            color: $secondary-color;
                        }
                    }
                }
            }

            .login {
                i {
                    font-size: 20px;
                    color: $primary-color;
                    transition: all .4s linear;

                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
        }

        &.header-fixed {
            box-shadow: 0 5px 30px rgba(0, 22, 8, 0.1);
            -webkit-box-shadow: 0 5px 30px rgba(0, 22, 84, 0.1);
            background: $white-color;
            position: fixed;
            z-index: 999;
            width: 100%;
            top: 0;
            transition: 0.2s ease-in;
            animation-duration: 0.5s;
            animation-name: slideInDown;
        }
    }
}

.nav-overlay-panel {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    z-index: 19999;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
}

$breakpoint-tablet: 1000px;

@media (max-width: $breakpoint-tablet) {
    .navbar {
        z-index: 2;

        .navbar-toggler {
            z-index: 5;
            cursor: pointer;
            font-size: 30px;
            line-height: 40px;
            text-align: center;
            color: #e3002a;
            border-color: transparent;
            box-shadow: transparent;
        }

        .navbar-menus {
            flex-direction: column;
            top: 0px;
            bottom: 0;
            transform: translateX(125%);
            height: 100vh;
            z-index: 101;
            position: fixed;
            width: 310px;
            overflow-y: scroll;
            background-color: $title-color;
            padding: 50px 35px 35px 35px;
            box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.69);
            transition: all 0.5s ease-in;

            &.show {
                transform: translateX(30%);
            }

            .m-brand-logo {
                display: block !important;
                position: absolute;
                left: 35px;
            }

            .close-button {
                color: #d60606;
                cursor: pointer;
                top: 15px;
                left: 15px;
                font-size: 20px;
                position: absolute;
            }

            .navbar-nav {
                margin-top: 55px;
                display: flex;
                flex-direction: column;
                width: 55%;

                .nav-item {
                    width: 140%;
                    position: relative;

                    .nav-link {
                        width: 100%;
                        color: $white-color;
                        display: block;
                        font-weight: 600;
                        font-size: 14px;
                        padding: 10px 30px 10px 0;
                        text-transform: capitalize;
                        border-bottom: 1px solid rgba(78, 78, 78, 0.41);
                    }

                    &.has-children {
                        .nav-link {
                            &:hover::after {
                                width: 0;
                            }
                        }

                        &::after {
                            content: '\e905';
                            font-family: 'icomoon';
                            font-size: 11px;
                            right: 0;
                            top: 11px;
                            color: $primary-color;
                        }

                        &:hover::before {
                            width: 0;
                        }
                    }
                    .nav-submenu{
                        width: 100% !important;
                        background-color: $title-color !important;
                        li{
                            a{
                                color: $white-color !important;
                            }
                        }
                    }
                }
            }

            .nav-actions {
                display: none;
            }
        }
    }
}