@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?8jcrl8');
    src: url('../fonts/icomoon.eot?8jcrl8#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?8jcrl8') format('truetype'),
        url('../fonts/icomoon.woff?8jcrl8') format('woff'),
        url('../fonts/icomoon.svg?8jcrl8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-flag:before {
    content: "\e921";
}

.icon-play:before {
    content: "\e902";
}

.icon-business-card:before {
    content: "\e920";
}

.icon-clean_hands:before {
    content: "\e91f";
}

.icon-email:before {
    content: "\e91e";
}

.icon-double_arrow:before {
    content: "\e91c";
}

.icon-global:before {
    content: "\e909";
}

.icon-tools:before {
    content: "\e908";
}

.icon-genius:before {
    content: "\e907";
}

.icon-th:before {
    content: "\e91d";
}

.icon-list:before {
    content: "\e91b";
}

.icon-instagram:before {
    content: "\e91a";
}

.icon-linkedin:before {
    content: "\e919";
}

.icon-bars:before {
    content: "\e918";
}

.icon-close:before {
    content: "\e917";
}

.icon-youtube-play:before {
    content: "\e916";
}

.icon-twitter:before {
    content: "\e915";
}

.icon-facebook:before {
    content: "\e914";
}

.icon-behance:before {
    content: "\e913";
}

.icon-paper-plane:before {
    content: "\e912";
}

.icon-phone:before {
    content: "\e911";
}

.icon-map-marker:before {
    content: "\e910";
}

.icon-quote-right:before {
    content: "\e90f";
}

.icon-arrow-right:before {
    content: "\e90e";
}

.icon-chevron-right:before {
    content: "\e90c";
}

.icon-chevron-left:before {
    content: "\e90d";
}

.icon-star:before {
    content: "\e90b";
}

.icon-file:before {
    content: "\e90a";
}

.icon-search:before {
    content: "\e906";
}

.icon-chevron-down:before {
    content: "\e905";
}

.icon-chevron-up:before {
    content: "\e904";
}

.icon-plus:before {
    content: "\e903";
}

.icon-user:before {
    content: "\e900";
}

.icon-shopping-cart:before {
    content: "\e901";
}